/** @format **/

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    text-shadow: 2px 2px 4px #131313;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

img {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: transparent;
    padding: 15px;
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    color: #ffff;
}

.btn:hover {
    transform: scale(1.2);
}

.btn:active {
    transform: scale(0.96);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgba(225, 225, 225, 0.7);
}

.form-control label {
    position: absolute;
    top: 10px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: rgba(225, 225, 225, 0.7);
    transform: translateY(-30px);
}
